<div class="main-component">
  <div class="main-component-left" *ngIf="highlightedRequest == undefined" [@enterAnimation]>
    <div class="basic">
      <div class="basic-title">
        ZGŁOSZENIA
      </div>
      <div class="basic-text">
        Witaj! Tutaj możesz przeglądać i odpowiadać na zgłoszenia użytkowników.
      </div>
    </div>
  </div>
  <div class="main-component-left" *ngIf="highlightedRequest !== undefined" [@enterAnimation]>
    <div class="return-button">
      <button mat-icon-button style="background-color: rgba(63,81,181,0.1)" (click)="hideRequest()">
        <mat-icon style="color: #565656">arrow_back_ios</mat-icon>
      </button>
    </div>
    <div class="highlighted-request-header">
      <div class="alert-type alert-type-new" *ngIf="highlightedRequest?.status == 'NEW'">
        NEW
      </div>
      <div class="alert-type alert-type-closed" *ngIf="highlightedRequest?.status == 'CLOSED'">
        CLOSED
      </div>
      <div class="alert-type alert-type-open" *ngIf="highlightedRequest?.status == 'OPEN'">
        OPEN
      </div>
      <div style="margin-left: 8px;">
        ZGŁOSZENIE #{{highlightedRequest!.id}}
      </div>
    </div>
    <div class="highlighted-request-description-container">
      <div class="badge">
        TREŚĆ ZGŁOSZENIA
      </div>
      <div class="highlighted-request-text">
        {{highlightedRequest!.description}}
      </div>
    </div>
    <form class="request-form" [formGroup]="addRequestForm">
      <div class="highlighted-request-answer-container">
        <div>
          <mat-form-field class="text-field" maxlength="3000">
            <mat-label>Treść zgłoszenia</mat-label>
            <textarea matInput placeholder="Ex. Mam pytanie na temat..." name="description" [(ngModel)]="formText"
                      formControlName="description"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="form-foot">
        <div>
          <mat-radio-group aria-label="Select an option" name="type" formControlName="type"
                           (change)="radioButtonStatusChanged($event)" [(ngModel)]="formType">
            <div class="radio-option">
              <mat-radio-button [value]="HelpRequest.StatusEnum.New">
                <div class="alert-type alert-type-new">
                  NEW
                </div>
              </mat-radio-button>
            </div>
            <div class="radio-option">
              <mat-radio-button [value]="HelpRequest.StatusEnum.Open">
                <div class="alert-type alert-type-open">
                  OPEN
                </div>
              </mat-radio-button>
            </div>
            <div class="radio-option">
              <mat-radio-button [value]="HelpRequest.StatusEnum.Closed">
                <div class="alert-type alert-type-closed">
                  CLOSED
                </div>
              </mat-radio-button>
            </div>
          </mat-radio-group>
        </div>
        <div class="button-container">
          <button mat-raised-button color="primary" [mat-dialog-close]="dialogData" [disabled]="addRequestForm.invalid"
                  (click)="formSubmited()">Odpowiedz na zgłoszenie
          </button>
        </div>
      </div>
    </form>

  </div>

  <div class="main-component-right">
    <div>
      <mat-paginator #paginator
                     (page)="handlePageEvent($event)"
                     [length]="length"
                     [pageSize]="pageSize"
                     [showFirstLastButtons]="true"
                     [hidePageSize]="true"
                     [pageIndex]="pageIndex"
                     style="margin-bottom: 12px; border: 1px solid #3f51b5; background-color: rgba(63,81,181,0.1); border-radius: 6px;"
                     aria-label="Select page">
      </mat-paginator>
      <app-help-request-element-in-list *ngFor="let request of helpRequests" [request]="request"
                                        (requestClickedEventEmitter)="showRequest($event)"
                                        [@enterAnimation]></app-help-request-element-in-list>
    </div>
  </div>
</div>
